<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="style.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="author" content="6lyxt">
    <meta name="description" content="A discord & web service to always stay updated on selphy's projects">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selphybot - bot commands</title>
  </head>
  <body>
    <div class="navibar">
      <h4 id="api"> <a href="/api/"> API </a> </h4> <h4 id="main"> <a href="/"> Main </a></h4> <h4 id="invite"> <a href="/invite"> Invite the bot </a></h4>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="header">
      <h1> selphybot - selphius fan project </h1>
      <p> a discord & web service to always stay updated on selphy's projects </p>
      </div>
      <br>
      <hr>
      <br>
      <div class="commands">
        <h2 id="head"> selphy! radio </h2>
        <p> plays a random song from selphius.. directly through our api! 😇</p>
        <br>
        <br>
        <h2 id="head"> selphy! twitch </h2>
        <p> checks selphius twitch status. so you always know, when the good time is! 🥰</p>
        <br>
        <br>
        <h2 id="head"> selphy! flip</h2>
        <p> hmmm... what could be coming here? 🤔 </p>
      </div>
      <img src="selphy.png" id="selphy"height="356" width="256">
  </body>
</html>
