<!DOCTYPE html>
<!-- concepted, designed and programmed by johannes dietze -->
<!-- i do not own any pictures on this webpage! -->
<!-- interested in the source code? check out my github: https://github.com/6lyxt -->
<html lang="en" dir="ltr">
  <head>
    <link href="style.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="author" content="6lyxt">
    <meta name="description" content="A discord & web service to always stay updated on selphy's projects">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selphybot! - main</title>
  </head>
  <body>
    <div class="navibar">
      <h4 id="api"> <a href="http://www.selphybot.xyz:1337/api/"> API </a> </h4> <h4 id="bot"> <a href="/bot">Bot commands </a></h4> <h4 id="invite"> <a href="/invite"> Invite the bot </a></h4>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="header">
      <h1> selphybot - selphius fan project </h1>
      <p> a discord & web service to always stay updated on selphy's projects </p>
      </div>
      <br>
      <hr>
      <br>
      <div class="features">
        <h2 id="head"> What is selphybot? </h2>
        <br>
        <div id="expl">
            <p> Selphybot is a multifeature discord bot & a web based api service (for developers). </h3>
            <p> The project was founded by lyxt in mid 2020 to support Selphius in a different way then usual. The bot features things like a selphius radio, a selphius card game, twitch & youtube notifications and more. </h3>
          </div>
        

          <br>
      <h2 id="head"> How can i use the bot? What is the api doing?</h2>
      <br>
      <br>
      <div id="help">
        <p> The bot can simply be invited by clicking on the <strong> Invite </strong> button on the top right. All api routes are listed on <u> <a href="https://selphybot.xyz:8001/api"> the api root</a>. </u></h3>
      </div>
    </div>
    <br>
    <br>
    <div class="links">
      <h2 id="head"> Any questions? </h2>
      <br>
      <p> You can contact me on <u> <a href="https://twitter.com/6lyxt">twitter</a></u> or add me on discord: lyxt#0666. </p>
      <p> Make sure to checkout the project on <u><a href="https://github.com/6lyxt/selphybot">github</a></u> if you're interested in the development process! </p>
    </div>
  </body>
</html>
